<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <!--bootstrap-->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
        <script href="/libs/bootstrap.min.js"></script>
        <!--css-->
        <link rel="stylesheet" type="text/css" href="/css/d3-style.css"/>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        <!--Angular-->
        <script src="/libs/angular.js"></script>
        <!--D3-->
        <script src="/libs/d3.min.js"></script>
        <!--Jquery-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" charset="utf-8"></script>
        <!--My angular js-->
        <script src="/js/app.js"></script>
        
    </head>
    <body ng-app="myApp">
        <h1>Hello World</h1>
        
        <div class="container">
            <div class="row">
                    <div class="col-md-3"></div>
                     <div class="col-md-4">
                        <p id="menu" class="menuchoice">Select series:
                            <select id="menuSelector" class="form-control input-sm">
                                <option value="athletic_director">View All</option>
                                <option value="average_faculty">View Faculty Salaries</option>
                                <option value="out_state_tuition">View Tuition</option>
                            </select>
                        </p>
                     </div>
                     <div class="col-md-5"></div>
                </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="graph1"></div>
                </div>
                <div class="col-md-4"></div>
                 <div class="col-md-4"></div>
            </div>
            
            <div class="row" ng-controller="BaseController as base">
                
                    <div class="input-group my-search-bar">
                        <input ng-model="search" type="text" class="form-control" placeholder="Search for the salary of UNC employees">
                        
                    </div>                
                
                <!--select table year-->
                <select id="selectYear">
                    <option  value="data-2015">2015</option>
                    <option  value="data-2014">2014</option>
                    <option  value="data-2013">2013</option>
                    <option  value="data-2012">2012</option>
                    <option  value="data-2011">2011</option>
                    <option  value="data-2010">2010</option>
                    <option  value="data-2009">2009</option>
                    <option  value="data-2008">2008</option>
                    <option  value="data-2007">2007</option>
                    <option  value="data-2006">2006</option>
                    <option  value="data-2005">2005</option>
                    <option  value="data-2004">2004</option>
                    <option  value="data-2003">2003</option>
                    <option  value="data-2002">2002</option>
                    <option  value="data-2001">2001</option>
                    <option  value="data-2000">2000</option>
                </select>
                
                <!--Angular table Loading data from selector-->
                    <table class="table table-striped" >
                      <thead>
                        <tr>
                          <th>Name
                            <span class="glyphicon glyphicon-sort" ng-click="base.toggleIt('Name')"></span>
                          </th>
                          <th>Salary
                          </th>
                          <th>Department</th>
                          <th>Title</th>
                          <th>Classification</th>
                          <th>Date</th>
                        </tr>
                      </thead>
                      <tbody ng-repeat= "salary in base.data | filter: search | orderBy: base.column : base.toggle | limitTo: 25">
                        <tr>
                          <td>{{ salary.FULL_NAME }}</td>
                          <td>{{ salary.BASE_SALARY | currency:"$" }}</td>
                          <td>{{ salary.DEPT_DESCR }}</td>
                          <td>{{ salary.JOB_DESCR }}</td>
                          <td>{{ salary.EMPL_TYPE }}</td>
                          <td>{{ salary.CALENDAR_DATE }}</td>
                        </tr>
                      </tbody>
                    </table>
            </div>
        </div>
        
        <!--My d3 Js-->
        <script src="/js/d3.js"></script>
    </body>
</html>