<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <!--bootstrap-->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
        <script href="/libs/bootstrap.min.js"></script>
        <!--css-->
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        <!--Angular-->
        <script src="/libs/angular.js"></script>
        <!--D3-->
        <script src="/libs/d3.min.js"></script>
        <!--Jquery-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" charset="utf-8"></script>
        
    </head>
    <body ng-app="myApp">
        <h1>Hello World</h1>
        
        <div class="container" ng-controller="BaseController as base">
            <div class="row" >
                
                    <div class="input-group my-search-bar">
                        <input ng-model="search" type="text" class="form-control" placeholder="Search for the salary of UNC employees">
                        
                    </div>                
                
                <!--select table year-->
                <select id="selectYear">
                    <option  value="data-2015">2015</option>
                    <option  value="data-2014">2014</option>
                    <option  value="data-2013">2013</option>
                </select>
                
                <!--Angular table Loading data from 2015-->
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Name
                            <span class="glyphicon glyphicon-sort" ng-click="base.toggleIt('')"></span>
                          </th>
                          <th>Salary
                            <span class="glyphicon glyphicon-sort" ng-click="base.toggleIt('')"></span>
                          </th>
                          <th>Department</th>
                          <th>Title</th>
                          <th>Classification</th>
                        </tr>
                      </thead>
                      <tbody ng-repeat= "salary in base.salary_data_2015 | filter: search | limitTo: 25 | orderBy: base.column : base.toggle">
                        <tr>
                          <td>{{ salary.Name }}</td>
                          <td>{{ salary.Salary }}</td>
                          <td>{{ salary.Department }}</td>
                          <td>{{ salary.Title }}</td>
                          <td>{{ salary.Classification }}</td>
                        </tr>
                      </tbody>
                    </table>
            </div>
        </div>
        
        <script src="/js/app.js"></script>
    </body>
</html>